/* EmergencyWorkflowBuilder.module.css */
.container {
  background: linear-gradient(135deg, #000000 0%, #9c0d17 100%);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 255, 204, 0.3);
}

.title {
  color: #ffffff;
  margin-top: 0;
  font-size: 1.5em;
  text-align: center;
}

.stepList {
  list-style-type: none;
  padding: 0;
}

.stepItem {
  background-color: #2d2d2d;
  margin: 10px 0;
  padding: 15px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 1.1em;
  transition: background-color 0.3s;
}

.stepItem:hover {
  background-color: #e00b0b;
  color: #ffffff;
  cursor: pointer;
}
